{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {            display: flex;
            align-items: center;            justify-content: center;
            height: 100vh;            margin: 0;
            background-color: #343a40;
        }        .form-container {
            width: 400px;        }
    </style></head>
<body>
<div class="form-container">
    <h2 class="text-center text-light mb-4">Логин</h2>
    <form method="post">
        {% csrf_token %}
    <div class="form-group text-light">
         {{ form.username }}
         {{ form.password1 }}
<!--         {{ form.captcha }}-->
        <button type="submit" class="btn btn-primary btn-block mt-2">Войти</button>
        <p class="text-light">Если нет аккаунта, то жмите</p>
        <a href="{% url 'register' %}" class="btn btn-primary btn-block">Зарегистрироваться</a>
    </div>
    </form>
</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body></html>